.navbar-root {
    background-color: #333;
    color: white;
    padding: 10px 0;
    
  }
  .navbar-title {
    flex: 0.2;
    font-size: x-large;
    font-style: inherit;
    font-family: fantasy;
    color: white;

  }
  .navbar-app-bar {
    display: flex;
    justify-content: center;
  }
  
  .navbar-toolbar {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
  }
  
  .navbar-links {
    margin-right: auto;
  }
  
  .navbar-link {
    text-decoration: none;
    margin-right: 20px;
    font-size: large;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }
  
  .navbar-search {
    display: flex;
    align-items: center;
  }
  
  .navbar-search-icon-wrapper {
    margin-right: 10px;
  }
  
  .navbar-search-input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .navbar-link {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s;
  }
  
  .navbar-link:hover {
    color: #FFA500; /* Change color on hover */
  }
  
  .navbar-dropdown {
    position: relative;
  }
  
  .navbar-dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
  }
  
  .navbar-dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .navbar-dropdown-content a:hover {
    background-color: #555;
  }
  
  .navbar-dropdown:hover .navbar-dropdown-content {
    display: block;
  }
  .navbar-dropdown {
  position: relative;
  display: inline-block;
}

.navbar-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.navbar-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navbar-dropdown-content a:hover {
  background-color: #ddd;
}

.navbar-dropdown:hover .navbar-dropdown-content {
  display: block;
}